*{
    padding: 0px;
    margin: 0px;
}
#navother{
    background: white;
    box-shadow: 0 0 5px 5px #00000011;
}
.about-points, .gray-box{
    background: #f3f3f3;
    padding: 50px 0 50px 0;
}
.about-box{
    background: #fff;
    box-shadow: 0 0 5px 2px #00000010;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 18px;
    text-align: center;
}
.about-box i{
    color: #F9A31E;
    margin-bottom: 18px;
}
.main-row{
    display: flex;
    align-items: stretch;
}
.about-box{
    flex: 1;
}
.servies-box{
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 5px 2px #00000010;
    border-radius: 10px;
    text-align: center;
    background: url('../images/banner-png.png');
    background-size: cover;
    margin-bottom: 18px;
    position: relative;
    background-color: #ffffff;

}
.servies-box p{
    text-align: justify;
    font-weight: 500;
}

.servies-box .icon{
  margin-bottom: 18px;
    background-color: white;
    color: #F9A31E;
    /* animation: xy infinite 5s ease-out; */
    /* border:2px solid #F9A31E; */
    padding: 10px;
    /* border-radius: 400%; */
    font-size: 40px;
    border-radius: 10px;
    box-shadow: 0 0 5px 2px #00000010;
}
.hero-header{
    min-height: 40vh;
    background: url('../images/banner-png.png');
    background-size: cover;
    background-position: top;
    background-color: #1E2B39;
    display: flex;
    justify-content: center;
    align-items: center;
}
@keyframes y{
    from{
        transform: rotate(360deg);
    }
}
